<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Shopping Cart</title>
    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css'>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="cart.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
</head>
<body>
<div class="row">
    <div class="large-12 columns">
        <div class="logo">
            <h1>Bookstore</h1>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <nav class="top-bar data-topbar">
                    <ul class="title-area">
                        <li class="name">
                            <h1>
                                <a href="/index">
                                    HOME
                                </a>
                            </h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                    </ul>
                    <section class="top-bar-section">
                        <ul class="right">
                            <li class="divider"></li>
                            <li class="has-dropdown">
                                <a href="#">Catalog</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Search Box</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Log in</a></li>
                        </ul>
                        <ul class="right">
                            <li class="has-dropdown">
                                <a href="#">Shopping Cart</a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <ul class="breadcrumbs">
                    <li><a th:href="@{/index}">Home</a></li>
                    <li class="unavailable"><a href="#">NEW</a></li>
                    <li class="current"><a href="#">SALE</a></li>
                </ul>
            </div>
        </div>
        <table>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Items</th>
                <th>Status</th>
                <th>Price</th>
            </tr>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.date}"></td>
                <td th:text="${order.orderItem}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.price}"></td>
            </tr>
        </table>
<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright 2019 We did it for the cookies team</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">How to Order</a></li>
                    <li><a href="#">Shipping</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
