<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookStore Webshop</title>
    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="row">
    <div class="large-12 columns">
        <div class="logo">
            <h1>Bookstore</h1>
        </div>
        <div class="search">
            <form action="/search" method="POST">
                <input type="search" name="keyword" placeholder="Find your favorite book">
            </form>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <nav class="top-bar data-topbar">
                    <ul class="title-area">
                        <li class="name">
                            <h1>
                                <a href="/home">
                                    HOME
                                </a>
                            </h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                    </ul>
                    <section class="top-bar-section">
                        <ul class="right">
                            <li class="divider"></li>
                            <li class="has-dropdown">
                                <a th:href="@{/home}">Catalog</a>
                            </li>
                            <li class="divider"></li>
                            <li><a th:href="@{/home}">Log in</a></li>
                        </ul>
                        <ul class="right">
                            <li class="has-dropdown">
                                <a href="/myOrder">Shopping Cart</a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <ul class="breadcrumbs">
                    <a th:href="@{/sort-by-price-asc}">Price Asc</a>
                    <li class="user-section" th:text="${name}"></li>
                    <li class="user-section" th:text="${email}"></li>
                </ul>
            </div>
        </div>
        <h1>Add your info for the order:</h1>
        <form action="">
            <label>Firstname:</label><input type="text" name="firstname" width="400px">
            <label>Lastname:</label><input type="text" name="lastname" class="details">
            <label>Address:</label><input type="text" name="address" class="details">
            <label>City:</label><input type="text" name="city" class="details">
            <label>Country:</label><input type="text" name="country" class="details">
            <label>Phone number:</label><input type="number" name="phonenumber" class="details">
            <label>E-mail address:</label><input type="email" name="email" class="details">
            <input type="submit" value="Order" class="buy-button">
        </form>
        <footer class="row">
            <div class="large-12 columns">
                <hr />
                <div class="row">
                    <div class="large-6 columns">
                        <p>© Copyright 2019 We did it for the cookies team</p>
                    </div>
                    <div class="large-6 columns">
                        <ul class="inline-list right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">How to Order</a></li>
                            <li><a href="#">Shipping</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>
