<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookStore Webshop</title>
    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="row">
    <div class="large-12 columns">
        <div class="logo">
            <h1>Bookstore</h1>
        </div>
        <div class="search">
            <form action="/search" method="POST">
                <input type="search" name="keyword" placeholder="Find your favorite book">
            </form>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <nav class="top-bar data-topbar">
                    <ul class="title-area">
                        <li class="name">
                            <h1>
                                <a href="/home">
                                    HOME
                                </a>
                            </h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                    </ul>
                    <section class="top-bar-section">
                        <ul class="right">
                            <li class="divider"></li>
                            <li class="has-dropdown">
                                <a th:href="@{/home}">Catalog</a>
                            </li>
                            <li class="divider"></li>
                            <li><a th:href="@{/home}">Log in</a></li>
                        </ul>
                        <ul class="right">
                            <li class="has-dropdown">
                                <a href="/myOrder">Shopping Cart</a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <ul class="breadcrumbs">
                    <a th:href="@{/sort-by-price-asc}">Price Asc</a>
                    <li class="user-section" th:text="${name}"></li>
                    <li class="user-section" th:text="${email}"></li>
                </ul>
            </div>
        </div>
        <div align="center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT6zBfrH6cAz7rZ4iYMF5bF3OPLrcdXfr0tBvyUQgYXIo-5ovU" />
        </div>
        <h1>Order details</h1>
        <p type="text" th:text="|Your name: ${name}|" class="ordering"> </p>
        <p type="text" th:text="|Your email address: ${email}|" class="ordering"> </p>
        <table class="table table-striped" align="center">
            <thead>
            <td>Author</td>
            <td>Name</td>
            <td>Price (EUR)</td>
            </thead>
            <tbody>
            <tr th:each="item: ${orderitem}">
                <td th:text="${item.getBook().getAuthor()}"></td>
                <td th:text="${item.getBook().getTitle()}"></td>
                <td th:text="${item.getBook().getPrice()}"></td>
            </tr>
            </tbody>
        </table>
        <h2 th:text="|Total cost:   ${totalCost}|" align="center">EUR</h2>
        <p align="center"><a href="/home">Buy more books</a> | <a href="/thankyou">Order these books</a></p>
    </div>
</div>
<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright 2019 We did it for the cookies team</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">How to Order</a></li>
                    <li><a href="#">Shipping</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>

</html>

